<div class="p-4">
        <h2>Admin Dashboard</h2>
        <div class="row mb-4">
          <div class="col-md-4"><div class="card p-3"><h5>Active Patients</h5><h3><%= totals.totalPatients %></h3></div></div>
          <div class="col-md-4"><div class="card p-3"><h5>Recent Alerts</h5><h3><%= totals.recentAlerts %></h3></div></div>
          <div class="col-md-4"><div class="card p-3"><h5>Total Users</h5><h3><%= totals.totalUsers %></h3></div></div>
        </div>
        <div class="row mb-4">
          <div class="col-md-4">
            <div class="card p-3">
              <h5>Heart Rate</h5>
              <div class="chart-container"><canvas id="heartRateChart" data-labels='<%= JSON.stringify((adminCharts&&adminCharts.labels)||[]) %>' data-series='<%= JSON.stringify((adminCharts&&adminCharts.heartRate)||[]) %>'></canvas></div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card p-3">
              <h5>Sleep Quality</h5>
              <div class="chart-container"><canvas id="sleepQualityChart" data-labels='<%= JSON.stringify((adminCharts&&adminCharts.labels)||[]) %>' data-series='<%= JSON.stringify((adminCharts&&adminCharts.sleepQuality)||[]) %>'></canvas></div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card p-3">
              <h5>Physical Activity</h5>
              <div class="chart-container"><canvas id="activityChart" data-labels='<%= JSON.stringify((adminCharts&&adminCharts.labels)||[]) %>' data-series='<%= JSON.stringify((adminCharts&&adminCharts.steps)||[]) %>'></canvas></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="card p-3">
              <h5>Overall User Status</h5>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Stable: <%= (adminCharts && adminCharts.statusDistribution && adminCharts.statusDistribution['stable']) || 0 %></li>
                <li class="list-group-item">At Risk: <%= (adminCharts && adminCharts.statusDistribution && adminCharts.statusDistribution['at-risk']) || 0 %></li>
                <li class="list-group-item">Critical: <%= (adminCharts && adminCharts.statusDistribution && adminCharts.statusDistribution['critical']) || 0 %></li>
              </ul>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card p-3">
              <h5>Alert Summary</h5>
              <ul class="list-group list-group-flush">
                <% Object.keys(alertSummary||{}).forEach(function(k){ %>
                  <li class="list-group-item"><%= k %>: <%= alertSummary[k] %></li>
                <% }) %>
              </ul>
            </div>
          </div>
        </div>
      </div>


